.button_yellow {
    width: 2.4rem;
    line-height: .6rem;
    left: 50%;
    margin-left: -1.2rem;
    color: #f67d30;
    text-decoration: none;
    font-size: .3rem;
    border: 1px solid #f67d30;
    text-align: center;
    display:inline-block;
    //todo 新增样式
    top:2.7rem;
}