.d_rate{
    background: #fff;
    height: .9rem;
    line-height: .9rem;
    padding: 0 .24rem;
    font-size: .3rem;
    margin-top: .22rem;
    span{
        color: #001e00;
        font-size: .3rem;
        float: left;
        margin-top: .3rem;
    }
    img{
        width: .14rem;
        float: right;
        margin-top: .3rem;
        display: block;
    }
}