* { touch-action: pan-y; } 

.homeTotal{
    .mainContent{
        margin-top: 0.9rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.9rem;
        background: #fff;    
        .carousel{
            // margin-top: .9rem;
        }
    }

}